<nav>
  <div class="nav-wrapper">
    <img src="/assets/images/inicioNav.png" class="imagen-icono">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="administracion/eliminar-producto">elim-prod</a></li>
      <li><a routerLink="administracion/editar-producto">edit-prod</a></li>
      <li><a routerLink="administracion/crear-producto">cre-prod</a></li>
      <li><a routerLink="administracion/buscar-producto">bus-prod</a></li>
      <li><a routerLink="administracion/eliminar-persona">ELI-usu</a></li>
      <li><a routerLink="administracion/buscar-persona">BUS-USU</a></li>
      <li><a routerLink="administracion/editar-persona">ED-USU</a></li>
      <li><a routerLink="administracion/crear-persona">Registrate</a></li>
      <li><a routerLink="seguridad/identificar">Login</a></li>
    </ul>

  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="administracion/eliminar-producto">elim-prod</a></li>
  <li><a routerLink="administracion/editar-producto">edit-prod</a></li>
  <li><a routerLink="administracion/crear-producto">cre-prod</a></li>
  <li><a routerLink="administracion/buscar-producto">bus-prod</a></li>
  <li><a routerLink="administracion/eliminar-persona">ELI-usu</a></li>
  <li><a routerLink="administracion/buscar-persona">BUS-USU</a></li>
  <li><a routerLink="administracion/editar-persona">ED-USU</a></li>
  <li><a routerLink="administracion/crear-persona">Registrate</a></li>
  <li><a routerLink="seguridad/identificar">Login</a></li>
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function () {
    $('.sidenav').sidenav();
  });
</script>
