<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

  <button routerLink="../../inicio" class="btn btn-primary" type="submit">Menu</button>
  <div class="col-md-2">
    <label for="txtDocumento" class="form-label">Ingrese el nombre del producto y/o Servicio</label>
    <input type="text" class="form-control" id="txtDocumento" required>
    <div class="invalid-feedback">
      Campo requerido
    </div>
  </div>
  <section>
    <div class="col-12">
      <button class="btn btn-success" type="submit">Buscar Producto y/o Servicio</button><br>
      <button class="btn btn-danger" type="submit">Eliminar Producto y/o Servicio</button>
    </div>
  </section>
</body>



<table class="striped">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Proveedor</th>
      <th>Precio</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Producto</td>
      <td>Purina</td>
      <td>Bulto por 60 kilos</td>
      <td>Dogchow</td>
      <td>250.000</td>
    </tr>


  </tbody>
</table>
